[data-blackPage] {

    
    p {
        font-size: 1.2em;
    }

    a {
        color: black;
        text-decoration: none;
        outline: none;
        border-bottom: 1px dashed silver;
        border-radius: 10px;
    }

    a.current {
        font-weight: bold;
        color: #fff;
        background-color: #0d6efd;
        border-color: #0a53be;
    }

    #tree {
        // min-width: 190px;
        // width: 190px;
        height: 500px;
        // max-height: 200px;
        margin-top: 10px;
        border: 2px silver solid;
        overflow-Y: scroll;
        border-radius: 10px;
        padding: 0 1em 1em 0;
        font-size: 1.3em;
    }

    span {
        text-decoration: none;
        display: block;
        margin: 0 0 0 1.2em;
        background-color: transparent;
        // border: solid silver;
        // border-width: 0 0 1px 1px;
    }

    span a {
        display: block;
        position: relative;
        top: .95em;
        background-color: #fff;
        margin: 0 0 .2em .7em;
        padding: 0 0.3em 0.2em;
    }
    i, em {
        position: absolute;
        right: 10px;
        transition: .3s;
    }
    em {
        top: 50%;
        right: 20px;
        &::before,
        &::after {
            content: '';
            display: block;
            width: 1px;
            height: 10px;
            background-color: black;
            position: absolute;
            transform: rotateZ(45deg);
        }
        &::after {
            transform: translateX(-6.5px) rotateZ(-45deg);
        }
    }

    h4 {
        font-size: 1em;
        font-weight: bold;
        margin: 0;
        padding: 0 .25em;
    }

    ul,
    li {
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        line-height: 1.2em;
    }

    ul li ul {
        display: none;
    }

    ul li ul li {
        margin: 0 0 0 1.2em;
        // border-left: 1px solid silver;
    }

    li.last {
        border: none;
    }

    .active {
        transform: rotateZ(180deg);
    }

    /* IE 6 Fixup */
    * html #tree * {
        height: 1%;
    }
}